Source: nemoapps
Priority: optional
Maintainer: Taehwan Kim <taehwan@nemoux.net>
Build-Depends: debhelper (>=9), libc6-dev, nemocore-dev, skia-dev, uuid-dev, libharfbuzz-dev, libpixman-1-dev, libexpat1-dev, libjson-c-dev, libcurl4-openssl-dev, libmagickwand-dev, libmagic-dev, libsqlite3-dev, libao-dev, libudev-dev, libmount-dev, libprocps-dev, libdbus-1-dev, libssl-dev, libavutil-dev, libavcodec-dev, libsndfile1-dev, libmupdf-dev, libjbig2dec0-dev, libopenjp2-7-dev, mujs-dev
Standards-Version: 3.9.8
Section: libs
Homepage: http://www.nemoux.net
#Vcs-Git: git://anonscm.debian.org/collab-maint/nemoapps.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nemoapps.git

Package: nemoapps
Priority: optional
Section: libs
Architecture: any
Depends: nemocore, ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse application libraries
 <insert long description, indented with spaces>

Package: nemoapps-dev
Priority: optional
Section: libdevel
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse application development files
 <insert long description, indented with spaces>

Package: nemoapps-dbg
Priority: extra
Section: debug
Architecture: any
Depends: nemoapps (= ${binary:Version}), nemoapps-bin (= ${binary:Version})
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's core platform debugging symbols
 <insert long description, indented with spaces>

Package: nemo.clock
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.stat
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.text
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.weather
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.keyboard
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.explorer
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.player
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.image
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.pdf
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.background
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.livestream
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.screensaver
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.universe-background
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.universe-planet
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.universe-menu
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.card
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>

Package: nemo.karim
Priority: optional
Section: graphics
Architecture: any
Depends: nemoapps (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: NEMOUX's inhouse applications
 <insert long description, indented with spaces>
